ion-content{
    background-position: 50% 50%;
    background-image: url(../assets/images/login-background.jpg);
    background-size: cover;
}

ion-item ion-label h2{
    padding-top: 5px;
}

#background-home-screen{
    text-align: center;
}